h2, h3, h4, h5, h6 {
  font-family: "Allerta Stencil"; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  background: #fff;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}
html {
  font-size: 14px;
}

a {
  color: #4183c4;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}


.body{
  margin-top: 2em;
  padding-top: 2em;
}


p{
  font-size: 20px;
}

.home-lead{
  margin-top: 9em;
}

h1{
  font-family: "Allerta Stencil"; font-style: normal; font-variant: normal; font-weight: 700;
}
