.header{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12em;
    color: white;
    margin-top: -1em;
  }
  .homepage-scroll-arrow{
    margin-top: 10em;
  }
  
  .homepage-header { 
    font-family: "Allerta Stencil"; 
    font-size: 450%; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
  }

  .home-lead{
    margin-top: 9em;
    font-weight: 700;
  }

  @media only screen and (min-width: 640px) {
    .col-12{
      width: 100%;
    }
    .homepage-header{
      font-size: 700%; 
    }

  }