a.item:hover{
    cursor: pointer;
    background-color: rgba(0, 123, 255, 0.3)!important;
}

a.item{
  font-size: 10px;
}

@media only screen and (min-width: 640px) {
  a.item {
    font-size: 12px;
  }
}