* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  text-align: center;
}
section.jumbotron {
    background: transparent; 
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.card:hover{
    transform: scale(1.05);
  }

  .btn:hover{
    background-color: rgba(0, 123, 255, 0.3)!important
  }

section{
    margin-top: -3em;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
  }

  .col-4 {
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 1.04166666%;
    padding-right: 1.04166666%;
  }
  
  .card {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 100%;
}

.album{
  margin-top: 2em;
  background-color: #f5f5f5;
  padding-top: 2em;
}

  .card-body {
    padding: 1.55rem;
}

  .container, .row {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  @media only screen and (min-width: 640px) {
    .col-4 {
      width: 33.33%;
    }

  }



  .btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }

  .btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
      margin-left: -1px;
  }

  .btn-group-vertical>.btn, .btn-group>.btn {
      position: relative;
      flex: 1 1 auto;
  }

  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
      cursor: pointer;
  }
  button, html [type="button"], [type="reset"], [type="submit"] {
      -webkit-appearance: button;
  }

  .btn-group-sm>.btn, .btn-sm {
      padding: .25rem .5rem;
      font-size: .875rem;
      line-height: 1.5;
      border-radius: .2rem;
  }

  .btn-group{
    margin-left: auto;
    margin-right: auto;
  }

  .btn-outline-secondary {
      color: #6c757d;
      border-color: #6c757d;
  }


  .btn {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      background-color: transparent;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }


  button, input {
      overflow: visible;
  }

.align-items-center {
  align-items: center!important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.d-flex {
  display: flex!important;
}

.btn-group{
  padding-top: 1em;
}


section.my-videos{
  background-image: url("../images/my-videos-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12em;
  padding-bottom: 12em;
  color: white;
  margin-top: -1em;
}

section.videos{
  background-image: url("../images/videos-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12em;
  padding-bottom: 12em;
  color: white;
  margin-top: -1em;
}

.page-header{
  font-size: 30pt;
}

.video-description{
  margin-left: 5px;
  width: 100%;
}

.description{
  width: 50%;
}

.ui.modal .scrolling.content{
  max-height: unset;
}

Iframe.iframe{
  width: 100%;
}

.fill-button{
  background-color: #fadadd;
}